/* Color Theme Swatches in Hex */
.Polish-Sausage-Blues-1-hex { color: #212F80; }
.Polish-Sausage-Blues-2-hex { color: #101840; }
.Polish-Sausage-Blues-3-hex { color: #354CCC; }
.Polish-Sausage-Blues-4-hex { color: #24348C; }
.Polish-Sausage-Blues-5-hex { color: #1A2666; }

/* Color Theme Swatches in Hex */
.Dark-grunge-textured-red-concrete-wall-background-1-hex { color: #BF0413; }
.Dark-grunge-textured-red-concrete-wall-background-2-hex { color: #8C030E; }
.Dark-grunge-textured-red-concrete-wall-background-3-hex { color: #400106; }
.Dark-grunge-textured-red-concrete-wall-background-4-hex { color: #590202; }
.Dark-grunge-textured-red-concrete-wall-background-5-hex { color: #260101; }

* {background-color: black; box-sizing: border-box; font-family: 'Montserrat', sans-serif !important;}

img {max-width:100%; height: auto;}

h1 {font-size: 128px !important; text-align: center; font-weight: 800 !important;}

h2 {font-size: 55px !important; text-align: right; font-weight: 600 !important;}

.position {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.spin { 
    animation: spin 3s 1 ease;
    animation-delay: 2s;
}

@keyframes spin {
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(75%) translateY(90%) rotate(40deg) scale(0.25);
    }

    50% {
        transform: rotate(360deg) translateY(-90%) translateX(-50%) scale(0.1);
    }
}

#introduction {
    background-image: linear-gradient(90deg, red, blue);
    background-clip: text; 
    background-size: 100% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 1s linear 5;
    animation-delay: 2s;
}

@keyframes gradient {
    to {
        background-position: 100% center;
    }
}

#student {
    position: fixed;
    left: 50%;
    top: 57.5%;
    transform: translate(-50%, -50%);
    background-color: #ffffff00;
}

ul {
    opacity: 0%;
    position: fixed;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    font-size: 2rem;
}

li {
    padding: 2rem;
}

li a:hover {
    color: #8C030E;
}

#header {
    animation: head 5s 1 ease;
    animation-delay: 2s;
}

@keyframes head {
    from {transform: translateY(-50%);}
    to {transform: translateY(0); opacity: 1;}
}